.custom-bg{
    
    background: #3bc696!important;
}
.admin .card{
    
    border:1px solid #3bc696;
}

.admin .card:hover{
    background: #e2e2e2;
    cursor:pointer;
}

.list-group-item:hover {
   color: #fff;
    background-color: #2a9d8f;
    border-color: #2a9d8f;
    cursor: pointer;
    font-style:italic;
    font-size: 20px;
    
}










.discount-label{
    font-size:10px!important;
    font-style: italic!important;
 
}
.product-card:hover{
     background: #e2e2e2;
    cursor:pointer;
}

#toast {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}
#toast.display{
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; 
}

@keyframes fadein {
  from {bottom: 0;
        opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#button{
    margin-top: 10px;
    background: dodgerblue;
    color: white;
    width:80%;
    height: 60px;
    font-size: 20px;
    outline: none;
    border: 5px solid deepskyblue;
    border-radius: 5px;
    
}
.container:hover{
     cursor: pointer;
 /* color: yellow;*/
}

   





    
    
    
    
